.footer {
	padding: 40px 0 16px;
	background-color: #3340b4;
	position: relative;

	&__wrap {
		align-items: flex-start;
		flex-wrap: wrap;
		margin-bottom: 73px;
	}

	&__center {
		width: 600px;
		align-items: flex-start;
		flex-wrap: wrap;
		position: relative;
		top: -5px;
	}

	&__menu {
		ul {
			li + li {
				margin-top: 5px;
			}

			li {
				a {
					position: relative;
					z-index: 10;
					font-weight: 600;
					font-size: 14px;
					line-height: 100%;
					text-transform: uppercase;
					color: #bac1fe;
					transition: color 0.3s;

					&:after {
						content: "";
						position: absolute;
						width: 16px;
						height: 16px;
						top: calc(50% - 8px);
						right: -32px;
						background-image: url("../img/icons/arrow-footer.svg");
						background-repeat: no-repeat;
						background-size: contain;
						transform: translateX(-16px);
						opacity: 0;
						transition: transform 0.3s, opacity 0.3s;
					}

					&:hover {
						color: #fff;
						transition: color 0.3s;

						&:after {
							transform: translateX(0px);
							opacity: 1;
							transition: transform 0.3s, opacity 0.3s;
						}
					}
				}
			}
		}
	}

	&__copiright {
		justify-content: flex-start;
		font-weight: 500;
		font-size: 12px;
		line-height: 100%;
		letter-spacing: 0.01em;
		color: #bac1fe;

		&-icon {
			width: 12px;
			height: 12px;
			margin-right: 8px;
		}
	}
}
@media (max-width: 1250px) {
	.footer {
		&__center {
			width: 500px;
		}
	}
}
@media (max-width: 1010px) {
	.footer {
		&__wrap {
			margin-bottom: 40px;
		}

		&__center {
			margin-top: 40px;
			width: 100%;
		}

		.social {
			margin-top: 20px;
		}
	}
}
@media (max-width: 760px) {
	.footer {
		padding: 38px 0 16px;

		&__wrap {
			margin-bottom: 49px;
		}

		&__menu {
			& + & {
				margin-top: 12px;
			}

			ul {
				li {
					a {
						transition: none;
					}

					a:hover {
						transition: none;
					}
				}
			}
			width: 100%;
		}

		.social {
			margin-top: 40px;
		}
	}
}