.btn() {
  font-size: 1.375rem;
  line-height: 1.375rem;
  color: @body-color;
  border: 1px solid @body-color;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 14px;
  padding-bottom: 10px;
  border-radius: 25px;
  white-space: nowrap;
  transition-duration: 0.35s;
  transition-timing-function: ease-out;
  transition-property: color, border-color, background-color;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px fadeout(#98A5B1, 50%, relative);
  }

  &:not([disabled]):hover {
    border-color: @link-color;
    background-color: @link-color;
    color: #fff;
  }

  &:not([disabled]):active {
    transform: translateY(1px);
  }
}

// #form() {
//   .el() {
//     display: block;
//     border: 1px solid #ccc;
//     border-radius: @border-radius;
//     font-family: inherit;
//     font-size: 0.875rem;
//     line-height: 1rem;
//     margin: 0;
//     color: @body-color;
//     padding: 15px 15px;
//     width: 100%;
//     appearance: none;
//     transition-duration: 0.3s;
//     transition-timing-function: ease-out;
//     transition-property: box-shadow, color, border-color, background-color;

//     &:focus,
//     &:focus-within {
//       outline: none;
//       box-shadow: 0 0 0 2px fadeout(#15181E, 50%, relative);
//     }

//     &:not(:focus):invalid {
//       box-shadow: none;
//       outline: none;
//     }

//     &::placeholder {
//       color: #ccc;
//       opacity: 1;
//     }
//   }
// }
